
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 ;
    justify-content: center;
    max-width: 1200px;

}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    max-width: 1200px;
}
header p{
    text-align: left;
}

.hlavicka{
    text-align: left;
}

header {
    display: flex;
    background: #1e73b8;
    color: white;
    padding: 15px 30px;
    align-items: center;
    height: 100px;
}


.logo {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    justify-content: flex-start;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav input {
    padding: 10px;
    border: none;
    flex: 1;
}

nav button {
    padding: 8px 10px;
    border: none;
    background: #4fa3e3;
    color: white;
    cursor: pointer;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none; 
}

.main-layout {
    display: flex;
    gap: 20px;
    padding: 40px 0;
}

.boxcontainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 150px;
    flex: 1;
}


.small {
    background: orange;
    flex: 1;
    height: 150px;
}
.small:nth-of-type(3) {
    background: orange;
    flex: 1;
    height: 150px;
    border:6px solid #be9307;
    color: #be9307;
}

.medium {
    background: rgb(221, 105, 10);
    flex: 1;
    height: 150px;
    }

.large {
    background: red;
    flex: 1;
    height: 150px;
    position: relative;
}
.large::after{
    content: ""; 
    position: absolute;
    top: 8px;
    right: 8px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
}

.sidebar {
    flex: 1;
    background: #1189d8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

footer {
    display: flex;
    background: #6a2c91;
    color: white;
    padding: 30px ;
    text-align: center;
    height: auto;
    align-items: center;
}

.footercontainer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1200px;
    flex: 1;

}

.footerbox{
    background: #d1c2da; 
    font-weight: bold;
    height: 130px;
    flex: 1;
    align-content: center;
    font-size: 24px;
}

.paticka {
    flex: 1;
    font-size: 16px;
    text-align: left;
    color: rgb(255, 255, 255);

}

@media screen and (max-width: 1200px) {


.main-layout {
    flex-direction: column;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px;
}
.nav-search {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background: #1e73b8;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
}

.hamburger {
    display: block;
}

.nav-search.active {
    display: flex;
}


.row {
    flex-wrap: wrap;
}

.row .box {
    flex: 1 1 48%; 
}

.sidebar {
    width: 100%;
    height: 200px;
    flex: auto;
}

.footercontainer {
    flex-wrap: wrap;
}

.footerbox {
    flex: 1 1 48%;
}
}


@media screen and (max-width: 600px) {


header .container {
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
}

.main-layout {
    flex-direction: column;
    padding: 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

nav {
    width: 100%;
}
.footerbox{
    display: none;
}

.nav-search {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background: #1e73b8;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.hamburger {
    display: block;
}

.nav-search.active {
    display: flex;
}


.row {
    flex-direction: column;
}

.row .box {
    flex: auto;
}

.sidebar {
    width: 100%;
    height: 180px;
    background-color: #1189d8;; 
    flex:auto;
}


.footercontainer {
    flex-direction: column;
}

.footerbox:nth-of-type(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:auto;
}
}



